<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800319001066-bhkikdl89d8gh1vl2k1tnp2o1ll50f15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800319001066-bhkikdl89d8gh1vl2k1tnp2o1ll50f15</string>
	<key>API_KEY</key>
	<string>AIzaSyAN8cXjqeT_j18zbtaLZNhWUH4DwrGIhus</string>
	<key>GCM_SENDER_ID</key>
	<string>800319001066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userMgt</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-5b9fd</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-5b9fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800319001066:ios:3b1735c431e7e676df2293</string>
</dict>
</plist>